CompileFlags:
  Compiler: clang++
Diagnostics:
  Suppress:
  - readability-function-cognitive-complexity
  - readability-implicit-bool-conversion
  - cppcoreguidelines-macro-usage
  - cppcoreguidelines-avoid-goto
  - hicpp-avoid-goto
