CompileFlags:                     # Tweak the parse settings
  Add: [-std=gnu++2b]             # treat all files as C++, enable more warnings
  Compiler: clang++               # Change argv[0] of compile flags to `clang++`